<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1601507546,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/sports\/sue-bird-legacy-recap",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2020-09-30 16:12:26",
	"modifieddate":"2020-09-30 16:11:13",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"sports",
	"section_tier2":"storm",
	"sections_all":"sports|storm",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
