<section class="thin-div">
  <div class="center">Don’t Miss</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14926473">
          <img src="./assets/dontmiss/story1.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14926473">
            Q&A: Sue Bird is entering her 19th season, so we asked the Storm legend 19 questions
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/storm/leave-no-doubt-in-her-first-full-year-as-storm-head-coach-noelle-quinn-has-the-trust-of-her-team/">
          <img src="./assets/dontmiss/story2.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/sports/storm/leave-no-doubt-in-her-first-full-year-as-storm-head-coach-noelle-quinn-has-the-trust-of-her-team/">
            ‘Leave no doubt’: In her first full year as Storm head coach, Noelle Quinn has the trust of her team
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14926530">
          <img src="./assets/dontmiss/story3.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14926530">
            Analysis: Three keys for the Storm entering 2022 WNBA season
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14926402">
          <img src="./assets/dontmiss/story4.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14926402">
            'Hungry for more': The Storm's Big Three is back together to chase a title — possibly for the final time
          </a>
        </div>
      </div>
    </div>
</section>
