.scroll-graph {
  // z-index: -1;
  overflow: hidden;
  position: relative;

  .spacer {
    // height: 100vh;
  }

  .clip(...) {
    -webkit-clip-path: @arguments;
    clip-path: @arguments;
  }

  .season {
    height: 120vh;
    background-image: url(./assets/SueBird/bird2002.jpg);
    background-position: 60% 0;
    background-size: cover;
    background-attachment: fixed;

    .backdrop {
      transition: all .6s ease-in-out, opacity .8s linear;
      background-size: cover;
      background-position: 80% 20%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @circle-size: 400px;
      .clip(circle(@circle-size at -@circle-size 70%));
      transform: translateZ(0);
      will-change: clip-path;
      opacity: .01;
    }

    &.active .backdrop {
      .clip(circle(100% at 50% 50%));
      opacity: 1;
      background-position: 50% 0;
    }

    // &.active[data-season="1"] .backdrop { background-position: 70% 0 }
    // &.active[data-season="3"] .backdrop { background-position: 40% 0 }

    &[data-season="1"] { .backdrop { background-image: url(./assets/SueBird/bird2002.jpg) } }
    &[data-season="2"] { .backdrop { background-image: url(./assets/SueBird/bird2003.jpg) } }
    &[data-season="3"] { .backdrop { background-image: url(./assets/SueBird/bird2004.JPG) } }
    &[data-season="4"] {
      .backdrop { background-image: url(./assets/SueBird/bird2005.jpg) }
      @media @mobile {
      .backdrop { background-image: url(./assets/SueBird/bird2005_mobile.jpg) }
      }
    }
    &[data-season="5"] { .backdrop { background-image: url(./assets/SueBird/bird2006.jpg) } }
    &[data-season="6"] {
      .backdrop { background-image: url(./assets/SueBird/bird2007.jpg) }
      @media @mobile {
      .backdrop { background-image: url(./assets/SueBird/bird2007_mobile.jpg) }
      }
    }
    &[data-season="7"] {
      .backdrop { background-image: url(./assets/SueBird/bird2008.jpg) }
      @media @mobile {
      .backdrop { background-image: url(./assets/SueBird/bird2008_mobile.jpg) }
      }
    }
    &[data-season="8"] {
      .backdrop { background-image: url(./assets/SueBird/bird2009.jpg) }
      @media @mobile {
      .backdrop { background-image: url(./assets/SueBird/bird2009_mobile.jpg) }
      }
    }
    &[data-season="9"] { .backdrop { background-image: url(./assets/SueBird/bird2010.jpg) } }
    &[data-season="10"] { .backdrop { background-image: url(./assets/SueBird/bird2011.jpg) } }
    &[data-season="11"] { .backdrop { background-image: url(./assets/SueBird/bird2012.jpg) } }
    &[data-season="12"] { .backdrop { background-image: url(./assets/SueBird/bird2014.jpg) } }
    &[data-season="13"] { .backdrop { background-image: url(./assets/SueBird/bird2015.jpg) } }
    &[data-season="14"] {
      .backdrop { background-image: url(./assets/SueBird/bird2016.jpg) }
      @media @mobile {
      .backdrop { background-image: url(./assets/SueBird/bird2016_mobile.jpg) }
      }
    }
    &[data-season="15"] .backdrop { background-image: url(./assets/SueBird/bird2017.jpg) }
    &[data-season="16"] .backdrop { background-image: url(./assets/SueBird/bird2018.jpg) }
    &[data-season="17"] .backdrop { background-image: url(./assets/SueBird/bird2020.jpg) }
    &[data-season="18"] {
      margin-bottom: 170vh;
      .backdrop { background-image: url(./assets/SueBird/bird2021.jpg) }
      @media @mobile {
      .backdrop { background-image: url(./assets/SueBird/bird2021_mobile.jpg) }
      }
    }
  }

  .viz {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: block;



    // canvas {
    //   background: fade(white, 20%);
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   border-bottom: 1px solid white;
    //   border-left: 1px solid white;
    //   display: block;
    // }





    .counter {
      position: absolute;
      top: 20px;
      left: 1px;
      color: white;
      background: fade(black, 60%);
      font-family: @df-sans;
      font-size: 16px;
      padding: 10px;
      max-width: 20%;
      // text-align: right;

      @media @mobile {
        max-width: 100%;
        width: 100%;
      }





      .block {
        // margin-top: 10px;
        text-align: center;

        .points {
            display: inline-block;
            border-right: 1px solid #00712b;
            padding-right: 5px;
            padding-left: 2px;
        }

        .points:last-child {
          border-right: none;
        }

        .seasonGame {
          display: block;
          text-align: center;

          .head {
            font-weight: bold;
            text-decoration: underline;

            @media @mobile {
              display: inline-block;
              text-decoration: none;
            }
          }
          .headSeason {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
            font-family: @df-sans;
            text-transform: uppercase;
            @media @mobile {
              display: inline-block;
              margin-right: 5px;
              font-size: 15px;
            }
          }
        }


      }

      // .career {
      //   font-weight: bold;
      // }

      @media @mobile {

        font-size: 14px;
      }


    }

    .awards {
      // margin-top: 10px;
      position: absolute;
      bottom: 0;
      color: white;
      width: 100%;
      background: fade(black, 60%);
      font-family: @df-sans;
      font-size: 16px;
      padding: 10px;

      .allstars {
        line-height: 1em;
          img {
            max-width: 30px;
            @media @mobile { max-width: 16px; }
          }
        }

      .medals img {
        max-width: 20px;
        @media @mobile { max-width: 15px; }
      }

      .wnba img {
        max-width: 30px;
        @media @mobile { max-width: 20px; }
      }

      .bigCareer {
        display: block;
        text-align: center;

        .head { font-weight: bold; display: inline-block;}

        .career {
          display: inline-block;
          padding: 0 10px;
          border-right: 1px solid #00712b;
          @media @mobile { padding: 0 5px; }
        }

        .career:last-child {
          border-right: none;
        }
      }



      .each {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        padding: 5px 10px;
        @media @mobile {
          text-align: center;
          // width: auto;
          // display: inline-block;
          padding: 0;
        }

        .titlehed {
          display: none;
          line-height: 1em;

          // @media @mobile { float: left; }
        }
      }


    }

    .credit {
      position: absolute;
      bottom: 3px;
      right: 3px;
      border-radius: 4px;
      background: fade(black, 20%);
      padding: 2px 8px;
      color: white;
      font-size: 13px;
      font-family: @df-sans;
    }
  }
}




.popup {
  // position: absolute;
  // bottom: 0;
  // width: 400px;
  // max-width: 100%;
  // background: fade(black, 70%);
  margin-top: 15px;
  color: white;
  // padding: 32px 16px;
  // border-radius: 4px;
  // box-shadow: 0 8px 8px 16px fade(black, 20%);
  display: none;
  font-family: @df-sans;
  font-size: 16px;
  z-index: 999;
  transform: translateZ(0);

  h2 {
    font-size: 16px;
    color: white;
    margin: 0;
  }

  @media @mobile {
    font-size: 14px;
    // width: 300px;
  }

  .close-button {
    position: absolute;
    top: -15px;
    right: 0px;
    line-height: 0.8em;
    font-size: 150%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: none;

    @media @mobile {display: block;}

  }

  a {
    color: white;
    display: block;
    text-align: right;
  }

  &.record-breaker {
    background: @st-light-purple;
    color: black;

    h2, a { color: black; }
  }
}


.point {
  @point-size: 12px;

  position: absolute;
  border: 1px solid white;
  width: @point-size;
  height: @point-size;
  margin-left: -@point-size / 2;
  margin-top: -@point-size / 2;
  border-radius: 100%;

  display: none;

  .content {
    display: none;
  }

  &.activated {
    background: white;
  }
}
