<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <%= t.include("partials/_nav.html") %>

    <header class="intro">

      <img class="splash" src="./assets/PlumHeader1.jpg" alt="Kelsey Plum: Destined for greatness">

      <div class="published">Originally published March 1, 2017</div>

      <p class="chatter">
        From the time she first laced up her sneakers and stepped on the hardwood for the Huskies, it was evident Kelsey Plum was destined for greatness. With a 57-point barrage to cap her final regular season, Plum now stands alone atop women's college basketball as the No. 1 all-time scorer. Scroll down to take a trip through Plum's historic career and the many, many buckets she's scored with UW.

      <div class="scroll-indicator">
        ▼
    </header>

    <section class="scroll-graph">
      <div id="navScroll"></div>

      <% for (var i = 1; i < 5; i++) { %>
      <div class="season" data-season="<%= i %>">
        <div class="backdrop"></div>
      </div>
      <% } %>

      <div class="spacer"></div>

      <div class="viz">
        <canvas class="graph"></canvas>
        <div class="popup">
          <a class="close-button">&times;</a>
          <div class="notes"></div>
        </div>
        <div class="counter"></div>
        <div class="credit"></div>
      </div>

    </section>

    <section class="follow-up">

      <div class="content">

        <div class="row">

          <div class="chatter">

            <img src="./assets/twitter-card.gif">

            <p>
              Kelsey Plum has put on a hellacious offensive display in her senior season, capping a historic career and passing some iconic female college basketball players. Plum's 57-point display against Utah made her the No. 1 all-time scorer in NCAA women's basketball, passing Jackie Stiles' previous record. Plum needs just 167 points to become the all-time leading scorer in Division I history, men's or women's. Here's a look at how Plum stacks up among the all-time greats.

          </div>

          <table class="top-scorers">
            <thead>
              <tr>
                <th class="name">Name
                <th>Record
                <th>Year
                <th>Games
            <tbody>
              <tr class="plum">
                <td class="name">
                  Kelsey Plum
                  <div class="school">UW</div>
                <td>3,397
                <td>2017
                <td>137
              <% json.scorers.forEach(function(row) { %>
              <tr>
                <td class="name"><%= row.name %>
                  <div class="school"><%= row.school %></div>
                <td><%= t.formatNumber(row.points) %>
                <td><%= row.year %>
                <td><%= row.games %>
              <% }) %>
          </table>

        </div>

        <ul class="credits">
          <li> Production: Sean Quinton, Evan Webeck
          <li> Development: Thomas Wilburn
        </ul>

      </div>

    </section>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.plum = <%= JSON.stringify(json.plum) %>;
window.others = <%= JSON.stringify(json.scorers) %>;
    </script>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
